xarray==2022.6.0
rioxarray==0.13.3
zarr==2.12.0
numpy==1.23.4
scipy==1.9.1
pyproj==3.4.0
datashader==0.14.2
plotly==5.11.0
colorcet==3.0.0
dash==2.6.2
dash_bootstrap_templates==1.0.7
dash_bootstrap_components==1.2.1
flask_caching==2.0.1
dash_daq==0.5.0
gunicorn==20.1.0
